{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <h1>{{ post.title }}</h1>
        <h5>written by {{ post.author}}, and published: {{ post.publishedAt|date('m-d-Y') }}</h5>

        {{ post.content }}
    </div>
{% endblock %}

